*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0px;
    padding: 0;
    background-color: rgb(0, 0, 0);
    font-family: alice;
}

nav{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:50px ;

}
.navbar{
    border-bottom: 0.6px solid rgb(128, 127, 127);
}
nav ul{
    display: flex;
    justify-content: center;
    
}

nav ul li{
    list-style: none;
    margin: 0 23px;
    font-size: 1rem;
}

.left{
    font-size: 1.4rem;
}

.firstsection{
display: flex;
justify-content:space-around;
margin: 40px 0;
height: 500px;
}

.firstsection > div{
    margin-top: 50px;
    width: 30%;
}

.leftSection{
   color: white;    
   font-size: 2.3rem;
    margin-top: 30px 30px ;
   
}
.rightSection img{
   filter: drop-shadow(14px 14px 14px rgba(124, 123, 123, 0.76)
   ); 
}
.purple{
    color: rgb(227, 224, 224);
}
#typing {
  color: #797979;
  font-weight: bold;

}

#typing::after {
  content: " ";
  animation: blink 1ms infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

#secondsection{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items:center ;
    height: 500px;
    border-bottom: #797979;
}
.projects{
    display:flex;
    flex-wrap:wrap ;
    gap: 15px;
    background-color: #000000;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(104, 102, 102);
}

.projects div{
    filter: drop-shadow( 12px 14px 4px rgba(134, 133, 133, 0.925));
    
}

.hover-shadow {
  transition: 0.4s ease-in-out;
}

.hover-shadow:hover {
 filter: drop-shadow(4px 4px  rgb(220, 220, 220));
 transform: translateY(-15px) ; 
}

.hover{
    position: relative;
     cursor: pointer;
}


.hover::after{
   content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: width 0.3s ease-in;
}

.hover:hover::after{
     width: 100%;
     filter: drop-shadow(4px 4px 12px);
}

/* journey steps */ 

.journey {
  position: relative;
  max-width: 800px;
  margin: 100px auto;
  border: 0.6px solid rgb(137, 136, 136);
  border-radius: 50px;
  padding: 20px ;
  
}

/* Road */
.road {
  position: absolute;
  left: 50%;
  top:0px;
  width: 4px;
  height: 100%;
  background: #f0f0f0;
  transform: translateX(-50%);
}

.road-fill {
  width: 100%;
  height: 0;
  background: #f7f7f7;
  transition: height 4s ease;
}

/* Steps */

.step {
  display: flex;
  margin: 60px 0px;
  position: relative;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.step.show {
  opacity: 1;
  transform: translateY(0);
}

.step.left {
  justify-content: flex-start;
}

.step.right {
  justify-content: flex-end;
}

/* Point animation */
.point {
  width: 40px;
  height: 40px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 rgb(246, 177, 58); }
  70% { box-shadow: 0 0 0 15px rgba(130, 130, 130, 0); }
  100% { box-shadow: 0 0 0 0 rgba(30,144,255,0); }
}

/* Content */
.content {
  width: 30%;
  background: rgb(0, 0, 0);
  color: white;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  border-bottom: 0.5px solid rgb(102, 100, 100);
}

.content:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  border: 1px solid rgb(255, 182, 24);
}


.journey-heading span{
  justify-content: ;
  color: wheat;
  text-align: center;
  padding-top: 20px;
}